body{
    font-family: "Open Sans", sans-serif;
    font-family: "Lato",sans-serif;
}
.btn-primary{
    border-radius: 5px;
    background-color: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 25px ;
}
.header{
    
}
.banner{
    background-color: #f7bdca5b;
    display: flex;
    padding: 20px 200px 0px 100px;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 600px;
    height: 750px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 20px;
}
.banner-content{
    max-width: 800px;
    padding-left: 100px;
    padding-bottom: 100px;
    
}
.banner-description{
    margin-top: 0px;
    font-size: 20px;
    color: #757575;
    margin: 30px 0px;
    
}
/* about section */
/* about section */
/* about section */
main section{
  margin-top: 130px ;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}

.about-title {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.about-description {
    color: #757575;
    text-align: center;
    margin-bottom: 30px;
}
.featured-flowers{
    text-align: center;
}
.pink-flowers {
    display: flex;
    gap: 40px;
    
}
.flowers{
    text-align: center;
    background-color: #f7bdca5b; /* Replace with your desired color */
    border-radius: 50% 50% 0 0; /* Adjust as needed */
    /* clip-path: ellipse(50% 40% at center top); // Experiment with different shapes */
    padding: 30px 0px 0px 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.img-item {
    height: 350px;
    width: 300px;
    padding: 0px 70px 0px 40px;
}
/* support */
.support-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #75757528;
     /* Adjust spacing between icons */
    padding: 60px; /* Add padding around the container */
}

.contact {
    text-align: center;
}

.contact-item {
    width: 70px; /* Adjust icon size as needed */
    height: 70px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.contact-description{
    font-size: 14px;
    color: #757575; /* Adjust font color */
}
/* discount */
.banner2{
    display: flex;
    justify-content: space-between;
    background-color: #f7bdca5b;
    margin-top: 130px;
    padding: 60px 300px 60px 300px;
    align-items: center;
}
.banner2 .profile-pic2{
    width: 350px;
    height: 400px;
}
.banner2-title{
    font-size: 35px;
    font-weight:700;
    margin-top: 60px;
    margin-bottom: 20px;
}
.banner2-content{
    max-width: 800px;
    padding-top: 80px;
    padding-left: 100px;
    padding-bottom: 100px;
    text-align: center;
    align-items: center;
    

    
    
}
.banner2-description{
    margin-top: 0px;
    font-size: 20px;
    color: #757575;
    margin: 30px 0px;
    
    
}
/* social */

.section-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-top: 130px;
}
.section-description{
    font-size: 20px;
    color: #757575;
    text-align: center;
    margin-bottom: 30px;
    
}
.social-media-container{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    
}
.social-items{
    margin:10px;
}

.lower{
    
    width: auto;
    background-image: url('/flower-asset/rectangle\ 9.png');
}
.deals{
    padding: 60px 60px 60px 60px;
}
.input-container{
    display: flex;
    gap: 10px;
    margin: 40px;
    padding-left: 250px;
    
}
.title{
    font-size: 35px;
    color: black;
    font-weight: 700;
    text-align: center;
}
.description{
    font-size: 20px;
    color: #757575;
    text-align: center;
}
input{
    width: 600px; /* Adjust width as needed */
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: none;
}
